/* selected tab has bold font */
.tab-pane-selected-bold > .tab-header-area > .headers-region > .tab:selected {
    -fx-font-weight: bold;
}

/* allow cell highlight */
.table-view-cell-highlight > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell {
    -fx-table-cell-highlight: -fx-background;
    -fx-background-color: -fx-table-cell-border-color, -fx-background, -fx-table-cell-highlight, -fx-background;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0, 0.0 1.0 1.0 0.0, 1.0 2.0 2.0 1.0;
}
.table-view-cell-highlight > .virtual-flow > .clipped-container > .sheet > .table-row-cell .tableview2-cell {
    -fx-table-cell-highlight: -fx-background;
    -fx-background-color: -fx-table-cell-border-color, -fx-background, -fx-table-cell-highlight, -fx-background;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0, 0.0 1.0 1.0 0.0, 1.0 2.0 2.0 1.0;
}
.table-view-cell-highlight > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:fixed-value {
    -fx-table-cell-highlight: red;
}
.table-view-cell-highlight > .virtual-flow > .clipped-container > .sheet > .table-row-cell .tableview2-cell:fixed-value {
    -fx-table-cell-highlight: red;
}

/* hide focus indication on table */
.table-view-no-focus {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0.0, 0.0, 0.0;
    -fx-background-radius: 0.0, 0.0, 0.0;
    -fx-padding: 0.0;
}
.table-view-no-focus:focused {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0.0, 0.0, 0.0;
    -fx-background-radius: 0.0, 0.0, 0.0;
    -fx-padding: 0.0;
}

/* hide empty rows & cells within */
.table-view-hide-empty > .virtual-flow > .clipped-container > .sheet > .table-row-cell:empty {
    -fx-background-color: -fx-control-inner-background;
    -fx-border-width: 0.0px;
}
.table-view-hide-empty > .virtual-flow > .clipped-container > .sheet > .table-row-cell:empty > .table-cell {
    -fx-background-color: -fx-control-inner-background;
    -fx-border-width: 0.0px;
}
.table-view-hide-empty > .virtual-flow > .clipped-container > .sheet > .table-row-cell:empty > .tableview2-cell {
    -fx-background-color: -fx-control-inner-background;
    -fx-border-width: 0.0px;
}

/* fixes hardcoded use of lightgrey for -fx-selection-bar-non-focused */
.table-view2 {
	-fx-selection-bar-non-focused-2: lightgrey;
}
.table-row-cell:filled > .table-cell:selected {
    -fx-background: -fx-selection-bar-non-focused-2;
    -fx-table-cell-border-color: derive(-fx-selection-bar-non-focused-2, 20.0%);
}
.table-row-cell:filled > .tableview2-cell:selected {
    -fx-background: -fx-selection-bar-non-focused-2;
    -fx-table-cell-border-color: derive(-fx-selection-bar-non-focused-2, 20.0%);
}

/* themed (colored) nodes */
.themed {
    -theme-color: red;
    -theme-color-bright-mid: -theme-color;
    -theme-color-bright-heavy: -theme-color;
    -theme-color-faded-mid: -theme-color;
    -theme-color-faded-heavy: -theme-color;
    -fx-base: -theme-color;
}
.themed .scroll-pane {
    -fx-color: -theme-color;
    -fx-background: -theme-color-bright-heavy;
}
.themed .tab-header-area > .tab-header-background {
    -fx-background-color: -theme-color-bright-mid;
}
.themed .scroll-bar {
	-fx-background-color: derive(-theme-color-faded-mid, 60.0%);
	-fx-color: derive(-theme-color-faded-mid, 20.0%);
}
.themed .table-view {
    -fx-base: -theme-color;
    -fx-background-color: -theme-color-bright-heavy;
	-fx-control-inner-background: white;
	-fx-control-inner-background-alt: -theme-color-faded-heavy;
    -fx-text-fill: -fx-text-base-color;
    -fx-selection-bar: -theme-color;
    -fx-selection-bar-non-focused-2: -theme-color-bright-mid;
}
.themed .table-cell:faint-selection,
.themed .tableview2-cell:faint-selection {
    -fx-font-weight: bold;
	-fx-control-inner-background: -theme-color-bright-mid;
	-fx-control-inner-background-alt: -theme-color-bright-mid;
}
.themed .table-view .column-header,
.themed .table-view .column-header > .label,
.themed .table-view2 .column-header.south-header.fixed,
.nested-column-header > .column-header.table-column.fixed,
.nested-column-header > .column-header.table-column.selected > .label {
    -fx-color: -theme-color;
    -fx-text-fill: -fx-text-base-color;
}
.themed .table-view .column-header.selected,
.themed .table-view .column-header.selected > .label,
.themed .table-view2 .column-header.south-header.fixed.selected,
.nested-column-header > .column-header.table-column.fixed.selected,
.nested-column-header > .column-header.table-column.fixed.selected > .label {
    -fx-color: -theme-color-bright-mid;
    -fx-text-fill: -fx-text-base-color;
}

/* text inputs for table cells */
.text-input-table-cell {
    -fx-highlight-fill: -fx-base;
    -fx-highlight-text-fill: -fx-text-base-color;
	-fx-background-color: transparent;
    -fx-background-insets: 0.0, 0.0;
    -fx-background-radius: 0.0, 0.0;
    -fx-padding: 0.0; /* TODO padding should apply to cell and input differently */
}
.text-input-table-cell:focused {
    -fx-highlight-fill: -fx-base;
    -fx-highlight-text-fill: -fx-text-base-color;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
}
.date-picker-table-cell > .text-field {
    -fx-highlight-fill: -fx-base;
    -fx-highlight-text-fill: -fx-text-base-color;
	-fx-background-color: transparent;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-padding: 0.0; /* TODO padding should apply to cell and input differently */
}
.date-picker-table-cell > .arrow-button {
    -fx-background-radius: 0.0, 0.0, 0.0;
}
.date-picker-table-cell:focused > .arrow-button {
    -fx-background-radius: 0.0, 0.0, 0.0;
}
.date-picker-table-cell:focused {
    -fx-highlight-fill: -fx-base;
    -fx-highlight-text-fill: -fx-text-base-color;
    -fx-background-color: transparent;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
}
.date-picker-table-cell > .text-field {
    -fx-highlight-fill: -fx-base;
    -fx-highlight-text-fill: -fx-text-base-color;
    -fx-background-color: transparent;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
}

.table-view-full-size > .virtual-flow > .clipped-container > .sheet > .table-row-cell > .table-cell:last-visible {
    -fx-border-color: transparent;
}
.table-view-full-size > .virtual-flow > .clipped-container > .sheet > .table-row-cell:last-row > .table-cell {
    -fx-background-insets: -1.0;
}
.table-view-full-size .column-header:last-column {
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0, 1.0 1.0 2.0 1.0;
}

/* selected tab labels bold */
.tab-pane-selected-bold > .tab-header-area > .headers-region > .tab:selected {
    -fx-font-weight: bold;
}

/* offset (button-style) tabs */
.tab-pane-offset > .tab-header-area > .headers-region > .tab {
    -fx-background-radius: 5.0;
    -fx-background-insets: 1.0 1.0 1.0 1.0, 2.0 2.0 2.0 2.0, 3.0 3.0 3.0 3.0;
}

.tab-pane-offset:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-radius: 5.0;
    -fx-border-insets: -4.0 -5.0 -4.0 -5.0, -2.0 -3.0 -2.0 -3.0;
}
.tab-pane-offset > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-insets: 1.0 1.0 1.0 1.0, 2.0 2.0 2.0 2.0, 3.0 3.0 3.0 3.0;
}
.tab-pane-offset > .tab-header-area {
    -fx-padding: 0.416667em 0.416667em 0.416667em 0.416667em; /* 5 2 0 5 */
}